CalculatorUsingWCFService/Calculator/Service References/MathService/MathService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Substract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubstractResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>